In [24]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

from sklearn.linear_model import LinearRegression
from sklearn import metrics

import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [25]:
df = pd.read_csv('~/Downloads/Airline.csv')
df.head()

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,5,2,5,5,Satisfied
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,3,4,3,3,Satisfied
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,5,2,5,5,Satisfied
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,3,Satisfied

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ID                                      129880 non-null  int64
 1   Gender                                  129880 non-null  object
 2   Age                                     129880 non-null  int64
 3   Customer Type                           129880 non-null  object
 4   Type of Travel                          129880 non-null  object
 5   Class                                   129880 non-null  object
 6   Flight Distance                         129880 non-null  int64
 7   Departure Delay                         129880 non-null  int64
 8   Arrival Delay                           129487 non-null  float64
 9   Departure and Arrival Time Convenience  129880 non-null  int64
 10  Ease of Online Booking                  129880 non-null  int64
 11  Check-in Service                        129880 non-null  int64
 12  Online Boarding                         129880 non-null  int64
 13  Gate Location                           129880 non-null  int64
 14  On-board Service                        129880 non-null  int64
 15  Seat Comfort                            129880 non-null  int64
 16  Leg Room Service                        129880 non-null  int64
 17  Cleanliness                             129880 non-null  int64
 18  Food and Drink                          129880 non-null  int64
 19  In-flight Service                       129880 non-null  int64
 20  In-flight Wifi Service                  129880 non-null  int64
 21  In-flight Entertainment                 129880 non-null  int64
 22  Baggage Handling                        129880 non-null  int64
 23  Satisfaction                            129880 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [27]:
df.agg(['nunique', 'count']).T

                                        nunique   count
ID                                       129880  129880
Gender                                        2  129880
Age                                          75  129880
Customer Type                                 2  129880
Type of Travel                                2  129880
Class                                         3  129880
Flight Distance                            3821  129880
Departure Delay                             466  129880
Arrival Delay                               472  129487
Departure and Arrival Time Convenience        6  129880
Ease of Online Booking                        6  129880
Check-in Service                              6  129880
Online Boarding                               6  129880
Gate Location                                 6  129880
On-board Service                              6  129880
Seat Comfort                                  6  129880
Leg Room Service                              6  129880
Cleanliness                                   6  129880
Food and Drink                                6  129880
In-flight Service                             6  129880
In-flight Wifi Service                        6  129880
In-flight Entertainment                       6  129880
Baggage Handling                              5  129880
Satisfaction                                  2  129880

In [28]:
# drop "ID", all unique
# drop raws in null "Arrival Delay"

In [29]:
df=df.drop('ID',axis=1)
df=df.dropna()

In [30]:
df['Class'].unique()

array(['Business', 'Economy', 'Economy Plus'], dtype=object)

In [31]:
le = LabelEncoder()
df['Customer Type'] = le.fit_transform(df['Customer Type'])
df['Type of Travel'] = le.fit_transform(df['Type of Travel']) 
df['Gender'] = le.fit_transform(df['Gender'])
df['Class'] = le.fit_transform(df['Class'])

In [32]:
df.head()

,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,Ease of Online Booking,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,48,0,0,0,821,2,5.0,3,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
1,0,35,1,0,0,821,26,39.0,2,2,...,5,4,5,5,3,5,2,5,5,Satisfied
2,1,41,1,0,0,853,0,0.0,4,4,...,3,5,3,5,5,3,4,3,3,Satisfied
3,1,50,1,0,0,1905,0,0.0,2,2,...,5,5,5,4,4,5,2,5,5,Satisfied
4,0,49,1,0,0,3470,0,1.0,3,3,...,3,4,4,5,4,3,3,3,3,Satisfied

In [33]:
df['Class'].unique()

array([0, 1, 2])

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129487 entries, 0 to 129879
Data columns (total 23 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Gender                                  129487 non-null  int64
 1   Age                                     129487 non-null  int64
 2   Customer Type                           129487 non-null  int64
 3   Type of Travel                          129487 non-null  int64
 4   Class                                   129487 non-null  int64
 5   Flight Distance                         129487 non-null  int64
 6   Departure Delay                         129487 non-null  int64
 7   Arrival Delay                           129487 non-null  float64
 8   Departure and Arrival Time Convenience  129487 non-null  int64
 9   Ease of Online Booking                  129487 non-null  int64
 10  Check-in Service                        129487 non-null  int64
 11  Online Boarding                         129487 non-null  int64
 12  Gate Location                           129487 non-null  int64
 13  On-board Service                        129487 non-null  int64
 14  Seat Comfort                            129487 non-null  int64
 15  Leg Room Service                        129487 non-null  int64
 16  Cleanliness                             129487 non-null  int64
 17  Food and Drink                          129487 non-null  int64
 18  In-flight Service                       129487 non-null  int64
 19  In-flight Wifi Service                  129487 non-null  int64
 20  In-flight Entertainment                 129487 non-null  int64
 21  Baggage Handling                        129487 non-null  int64
 22  Satisfaction                            129487 non-null  object
dtypes: float64(1), int64(21), object(1)
memory usage: 23.7+ MB

In [35]:
plt.figure(dpi=200)
sns.heatmap(df.corr(),annot=True,cmap='coolwarm',annot_kws={'size':3})

ValueError: could not convert string to float: 'Neutral or Dissatisfied'